
:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #edf5ff;
    color: white;
    font-weight: 600;
}

.toolbar img {
margin: 0 16px;
}

#nav-items {
    list-style-type: none;
}

#nav-items li {
    font-size: 16px;
    padding: 10px;
    display: inline;
}

#nav-items {
    margin-right: 20px;
}

.main {
    display: flex;
    margin: 82px auto 32px;
    max-width: 960px;
    flex-direction: column;
    align-items: left;
}

#content {
    margin: 0 16px;
}

a,
a:visited,
a:hover {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    color: #125699;
}


svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
}

.topnav {
    color: var(--primary-color);
    /* border: 1px solid var(--primary-color); */
    width: 50px;
    height: 50px;
    margin-right: 10px;
    display: flex;
    vertical-align: middle;
}

.topnav:hover {
    cursor: pointer;
}

#mobile-nav {
    list-style-type: none;
    margin-top: -2px;
}

ul#mobile-nav {
    padding: 0;
}

#mobile-nav > li {
    background-color: #edf5ff;
    text-align: center;
}

#mobile-nav > li > a {
    padding: 20px 0;
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 20px 0;
}

#mobile-nav > li:hover {
    cursor: pointer;
    background-color: var(--primary-color);
}

#mobile-nav > li:hover > a {
    color: #edf5ff;
}

#mobile-nav-button {
    width: 50px;
    height: 50px;
}


#overlay-button {
    right: 2em;
    top: 3em;
    padding: 26px 11px;
    z-index: 5;
    cursor: pointer;
    user-select: none;
}

#overlay-button span {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: var(--primary-color);
    position: relative;
    display: block;
    transition: all 0.2s ease-in-out;
}

#overlay-button span:before {
    top: -10px;
    visibility: visible;
}

#overlay-button span:after {
    top: 10px;
}

#overlay-button span:before, #overlay-button span:after {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: var(--primary-color);
    position: absolute;
    content: "";
    transition: all 0.2s ease-in-out;
  }
 
input[type=checkbox] {
    display: none;
}

.checked ~ #overlay-button:hover span,
.checked ~ #overlay-button span {
    background: transparent;
}

.checked ~ #overlay-button span:before {
    transform: rotate(45deg) translate(7px, 7px);
    opacity: 1;
}

.checked ~ #overlay-button span:after {
    transform: rotate(-45deg) translate(7px, -7px);
}