/* You can add global styles to this file, and also import other style files */
:root {
    --main-color: #035778;
}

/* Hide an element on screens smaller than 600px */
/* @media (max-width: 599px) {
    .hide-on-small {
      display: none;
    }
  } */
  
  /* Show an element only on screens larger than 600px */
  /* @media (min-width: 600px) {
    .show-on-large {
      display: block;
    }
  } */



/* @media screen and (max-width: 599px){
    .hide-xs {
        display: none;
    }
}

xs 	''
sm 	'screen and (min-width: 600px) and (max-width: 959px)'
md 	'screen and (min-width: 960px) and (max-width: 1279px)'
lg 	'screen and (min-width: 1280px) and (max-width: 1919px)'
xl 	'screen and (min-width: 1920px) and (max-width: 5000px)'
	
lt-sm 	'screen and (max-width: 599px)'
lt-md 	'screen and (max-width: 959px)'
lt-lg 	'screen and (max-width: 1279px)'
lt-xl 	'screen and (max-width: 1919px)'
	
gt-xs 	'screen and (min-width: 600px)'
gt-sm 	'screen and (min-width: 960px)'
gt-md 	'screen and (min-width: 1280px)'
gt-lg 	'screen and (min-width: 1920px)' */